<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- uncomment underline if you are using win7 -->
    <!-- <package id="powershell" /> -->
    <package id="virtualbox" packageParameters="/NoDesktopShortcut /NoQuickLaunch" />
    <package id="vagrant" />
    <package id="teraterm" />
    <package id="winscp" />
</packages>
